@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Práctica 2 - Desarrollo de Aplicaciones Web | Tabla Blogs</h1>
    <br />
    <h2>Luis José Moreno Zepeda</h2>
    <br />

    <p"></p>Usuarios: <a href="./usuarios">Click aquí</a>.</p>
    <p>Publicaciones <a href="./publicaciones">Click aquí</a>.</p>
    <p>Calificaciones <a href="./calificaciones">Click aquí</a>.</p>
    <p>Comentarios <a href="./comentarios">Click aquí</a>.</p>
</div>
